<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objectives</title>
</head>
<body>
<a id="start"></a>
<div class="hero-img-game">
    <div class="text-white responsive-font col-sm px-lg-5 px-md-4 px-2 text-center">
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>

        <div class="p-5 shade-bg border border-rounded">
            <div class="display-1">Game Objectives</div>
            <div class="display-4">Step-by-step overview</div>
            <br>
            <a href="#step-1" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">First step</a>
        </div>

    </div>
</div>

<hr>

<a class="anchor" id="step-1"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-6 text-light text-center offset-3 border rounded p-2 shade-bg container">
            <h1 class="responsive-font">Step One</h1>
            <p class="lead">
                When the game starts, you will rack 15 balls with the 8 ball in the center.
            </p>

            <img class="container-fluid" id="billiard-balls" src="images/billiards-balls.jpg" alt="Billiard Balls set up" loading="lazy">
            <br>
            <br>
            <a href="#start" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Top</a>
            <a href="#step-2" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Next&nbsp;Step</a>
        </div>
    </div>
</div>

<hr>

<a class="anchor" id="step-2"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-6 text-light text-center offset-3 border rounded p-2 shade-bg container">
            <h1 class="responsive-font">Step Two</h1>
            <p class="lead">
                Break the formation by hitting the cue ball (the white ball) into it.
            </p>
            <iframe src="videos/Billiard-break.mp4" class="container-fluid" loading="lazy"></iframe>
            <br>
            <a href="#step-1" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Previous&nbsp;Step</a>
            <a href="#step-3" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Next&nbsp;Step</a>
        </div>
    </div>
</div>

<hr>

<a class="anchor" id="step-3"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-6 text-light text-center offset-3 border rounded p-2 shade-bg container">
            <h1 class="responsive-font">Step Three</h1>
            <p class="lead">
                Sink the striped balls first, followed by the solid colors.
            </p>

            <img class="container-fluid" src="images/billiards-balls3.jpg" alt="focused on ball 3" loading="lazy">
            <br>
            <br>

            <a href="#step-2" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Previous&nbsp;Step</a>
            <a href="#step-4" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Next&nbsp;Step</a>
        </div>
    </div>
</div>

<a class="anchor" id="step-4"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100">
        <div class="col-6 text-light text-center offset-3 border rounded p-2 shade-bg">
            <h1 class="responsive-font">Step Four</h1>
            <p class="lead">
                Sink the black 8 ball last or face a penalty.
            </p>

            <img class="container-fluid" src="images/eightball.jpg" alt="Billiard Balls set up" loading="lazy">
            <br>
            <br>

            <a href="#step-2" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Previous&nbsp;Step</a>
            <a href="#start" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Top</a>
        </div>
    </div>
</div>
</body>
</html>