<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>8ball Simulator</title>
</head>
<body>
<a id="start"></a>
<div class="hero-img-sim">

    <div class="row align-items-center h-100 hide-scroll">
        <div class="text-white text-center">
            <h1>Score Simulator</h1>
            <p class="lead">You may create random sample scores till the actual release</p>
        </div>

        <div class="col-sm-3 text-light text-center offset-2 border rounded p-2">
            Get a randomized score!
            <br><br>
            <button type="button" class="btn btn-floating btn-lg text-white border gray-btn" id="btn-sim">
                Generate!
            </button>
            <br>
            <br>

            <form action="#" method="post" class="form-horizontal mx-3">
                <label for="time">Time:</label>
                <input type="number" class="form-control" name="time" id="time" value="{{ @timeSticky }}" readonly>
                <label for="shots">Shots</label>
                <input type="number" class="form-control" name="shots" id="shots" value="{{ @shotsSticky }}" readonly>
                <label for="score">Score</label>
                <input type="number" class="form-control" name="score" id="score" value="{{ @scoreSticky }}" readonly>

                <br>
                <check if="{{ isset(@submit) }}">
                    <p class="h-5">Score submitted!</p>
                </check>

                <check if="{{ !isset(@submit) }}">
                    <button type="submit" class="btn btn-floating btn-lg text-white gray-btn border" id="btn-submit-score" >
                        Submit Score
                    </button>
                    <p id="disabledText"></p>
                </check>
            </form>
        </div>

        <div class="col-sm-3 text-light text-center offset-2 border rounded p-2">
            <p class="h-5">Submitted Score:</p>
            <check if="{{ isset(@submit) }}">
                <p>Time: {{ @timeSticky }}</p>
                <p>Shots: {{ @shotsSticky }}</p>
                <p>Score: {{ @scoreSticky }}</p>

                <p>User ID: {{ @user['user_ID'] }}</p>
                <p>Total Games: {{ @user['total_scores'] }}</p>
                <p>Total Time: {{ @user['total_time'] }}</p>
            </check>

            <check if="{{ !isset(@submit) }}">
                <p class="text-danger">{{ @error }}</p>
            </check>
        </div>
    </div>

</div>

<script src="scripts/scoreGenerator.js">
</script>
</body>
</html>