<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objectives</title>
</head>
<body>
<a id="start"></a>
<div class="hero-img-game">
    <div class="text-white responsive-font col-sm px-lg-5 px-md-4 px-2 text-center">
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>

        <div class="display-1">Game Objectives</div>
        <div class="display-4">Step-by-step overview</div>
        <br>
        <a href="#step-1" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">First step</a>
    </div>
</div>

<hr>

<a class="anchor" id="step-1"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-6 text-light text-center offset-3">
            <h1 class="responsive-font">Step One</h1>
            <p class="responsive-font-sub-1">
                When the game starts, you will rack 15 balls with the 8 ball in the center.
<!--                Then you will break the formation by hitting the cue ball (the white ball) into it.
                Sink the striped balls first, followed by the solid colors.
                Sink the black 8 ball last or it is an automatic loss..-->
            </p>
            <img id="billiard-balls" src="images/pool-balls-312193_640.png" alt="Billiard Balls set up" loading="lazy">
<!--            <iframe class="center" src="images/pool-balls-312193_640.png" loading="lazy"></iframe>-->
            <br>
            <a href="#start" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Top</a>
            <a href="#step-2" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Next&nbsp;Step</a>
        </div>
    </div>
</div>

<hr>

<a class="anchor" id="step-2"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-6 text-light text-center offset-3">
            <h1 class="responsive-font">Step Two</h1>
            <p class="responsive-font-sub-1">
<!--                When the game starts, you will rack 15 balls with the 8 ball in the center.-->
                                Break the formation by hitting the cue ball (the white ball) into it.
<!--                                Sink the striped balls first, followed by the solid colors.
                                Sink the black 8 ball last or it is an automatic loss..-->
            </p>

            <iframe src="videos/Billiard-break.mp4" loading="lazy"></iframe>
            <br>
            <a href="#step-1" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Previous&nbsp;Step</a>
            <a href="#step-3" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Next&nbsp;Step</a>
        </div>
    </div>
</div>

<hr>

<a class="anchor" id="step-3"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-6 text-light text-center offset-3">
            <h1 class="responsive-font">Step Three</h1>
            <p class="responsive-font-sub-1">
<!--                When the game starts, you will rack 15 balls with the 8 ball in the center.
                                Break the formation by hitting the cue ball (the white ball) into it.-->
                                Sink the striped balls first, followed by the solid colors.
<!--                                Sink the black 8 ball last or it is an automatic loss..-->
            </p>
            <a href="#step-2" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Previous&nbsp;Step</a>
            <a href="#step-4" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Next&nbsp;Step</a>
        </div>
    </div>
</div>

<a class="anchor" id="step-4"></a>
<div class="jumbotron bg-white hero-img-game-step-one" >
    <div class="row align-items-center h-100">
        <div class="col-6 text-light text-center offset-3">
            <h1 class="responsive-font">Step Four</h1>
            <p class="responsive-font-sub-1">
                Sink the black 8 ball last or it is an automatic loss.
            </p>
            <a href="#step-2" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Previous&nbsp;Step</a>
            <a href="#start" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3 justify-center">Top</a>
        </div>
    </div>
</div>


</body>
</html>