<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>8ball Simulator</title>
</head>
<body>
<a id="start"></a>
<div class="hero-img-sim">

    <div class="row align-items-center h-100 hide-scroll">
        <div class="text-white text-center">
            <h1>Score Generator</h1>
            <p class="lead">Since the game is still in development, you may create random sample scores</p>
        </div>

        <div class="col-sm-3 text-light text-center offset-2 border rounded p-2">
            Get a randomized score!
            <br>
            <button type="button" class="btn btn-floating btn-lg text-white" id="btn-sim">
                Generate!
            </button>

            <form action="#" method="post" class="form-horizontal mx-3">
                <label for="time">Time:</label>
                <input type="number" class="form-control" name="time" id="time" value="{{ @timeSticky }}" readonly>
                <label for="shots">Shots</label>
                <input type="number" class="form-control" name="shots" id="shots" value="{{ @shotsSticky }}" readonly>
                <label for="score">Score</label>
                <input type="number" class="form-control" name="score" id="score" value="{{ @scoreSticky }}" readonly>

                <button type="submit" class="btn btn-floating btn-lg text-white" id="btn-submit-score">
                    Submit Score
                </button>
            </form>


        </div>

        <div class="col-sm-3 text-light text-center offset-2 border rounded p-2">
            Click here for what is happening in the background
            <button type="button" class="btn text-white btn-floating btn-lg" id="btn-about">
                About page
            </button>
        </div>
    </div>

</div>

<script src="scripts/scoreGenerator.js">
</script>
</body>
</html>