<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8ball Simulator</title>
</head>
<body>
<a id="start"></a>
<div class="hero-img-sim">

    <div class="row align-items-center h-100 hide-scroll">
        <div class="col-3 text-light text-center offset-2 border rounded p-2container">
            Set recover
        </div>

        <div class="col-3 text-light text-center offset-2 border rounded p-2container">
            Set add
        </div>
    </div>

</div>
</body>
</html>