<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solo 8 Ball</title>
</head>
<body>

<div class="jumbotron bg-white hero-img-home">
    <div class="text-white responsive-font col-sm px-lg-5 px-md-4 px-2">
        <br><br><br>
        <br><br><br>
        <br><br><br>

        <div class="display-1">Solo 8 Ball</div>
        <div class="display-4">Test yourself in time and shots</div>
        <div class="lead">Game release TBD</div>
        <br>
        <a id="start" href="game" class="lead text-white responsive-font bg-transparent
        border border-white border-dark text-decoration-none px-3">Objectives</a>
    </div>
</div>
</body>
</html>