<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Solo 8 Ball - Leaderboard</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="styles/leaderboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="scripts/leaderboard.js"></script>
</head>
<body>

<div class="jumbotron bg-white hero-img-leaderboard">
    <div class="responsive-font col-sm px-lg-5 px-md-4 px-2">
        <br><br><br>
        <div class="row justify-content-center">
            <div class="text-white col-4 text-center gray-btn border border-dark border-round">
                <h1>Leaderboard</h1>
                <p class="lead"><i>How do you stack up against other players? </i></p>
            </div>
        </div>

        <br>

        <div class="bg-light-transparent p-5">
            <table id="leaderboard" class="display">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Time(Seconds)</th>
                    <th>Shots</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @table }}" value="{{ @rowData }}">
                    <tr>
                        <td>{{ @rowData['username'] }}</td>
                        <td>{{ @rowData['score'] }}</td>
                        <td>{{ @rowData['time'] }}</td>
                        <td>{{ @rowData['shots'] }}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>