<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solo 8 Ball - Login</title>

    <link rel="stylesheet" href="styles/login.css">

    </script>

    <!--Favicon-->
    <link href="images/favicon.png" type="image/png" rel="icon">

</head>
<body>

<div class="jumbotron bg-white hero-img-login">
    <div class="text-white responsive-font col-sm px-lg-5 px-md-4 px-2">
        <br><br><br>
        <br><br><br>

        <div class="display-4 text-center">Solo 8 Ball Login</div>

        <div class="form-group login-form text-center">

            <form method="post" action="#">

                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id="uname" required class="form-control">

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required class="form-control">
                <br>
                <button type="submit" class="btn btn-primary">Log In</button>

            </form>
        </div>
    </div>

</div>

</body>
</html>