body {
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}

.card-size {
    max-width: 75vw;
    max-height: 75vw;
}

.step-one {
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
    right: 108%;
    flex-flow: column wrap;
    height: 100vh;
    -ms-overflow-y: hidden;
    -ms-overflow-x: hidden;
}

.gray-btn {
    background: rgba(0,0,0,.25);
}

.hero-img-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/billiards1_1920.jpg");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;
    max-height: 100vh;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow-y: hidden;
}

.hero-img-game {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/table-109345_1920.jpg");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow-y: hidden;
}

.hero-img-game-step-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/pool-table-34356.png");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;

    min-width: 100%;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow: hidden;
}

.hero-img-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/billiards3_1920.jpg");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow-y: hidden;
}

.hero-img-sim {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/billiards3_1920.jpg");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow-y: hidden;
}

.hide-scroll {
    overflow: hidden;
}

.how-game {
    min-height: 100%;
}

.shade-bg {
    background-color: rgba(151,151,151,.43);
}

.welcome {
    font-size: 1.5rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 5;
    background-color: black;
    color: white;
}

#billiard-balls {
    max-width: 50vw;
}
