.hero-img-leaderboard {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/billiard-bright.jpg");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow-x: hidden;
}

.bg-table {
    background-color: rgba(255,255,255,.43);
}