.hero-img-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/billiards1_1920.jpg");

    /* Set a specific height */
    min-height: 100%;
    height: 100vh !important;

    /* Position and center the image to scale on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    overflow-y: hidden;
}

.login-form {
    border-style: solid;
    border-color: black;
}